.searchContainer{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.addIconContainer{
    background: grey;
}
.searchBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBox .icon{
    padding:0 4px;
}
